<ni-breadcrumb [menu]="breadcrumb" [style]="'custom1'" class="mb-4"></ni-breadcrumb>
<div>
  <div class="row">
    <div class="col-md-4">
      <mat-form-field>
        <input matInput type='text' placeholder='Type class name' (keyup)='updateFilter($event)'>
      </mat-form-field>
    </div>
    <div class="col">
      <a routerLink="/members/college-collections/new" mat-raised-button color="accent">+ New Collection </a>
    </div>
  </div>

  <mat-progress-bar *ngIf="collectionsLoading" mode="indeterminate"></mat-progress-bar>
  <ngx-datatable
    #table
    class='material'
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [limit]="10"
    [rows]='rows'>
    <ngx-datatable-column name="Class Name" prop="className"></ngx-datatable-column>
    <ngx-datatable-column name="Year" prop="year"></ngx-datatable-column>
    <ngx-datatable-column name="State" prop="state"></ngx-datatable-column>
    <ngx-datatable-column name="Category" prop="category"></ngx-datatable-column>
    <ngx-datatable-column name="Type" prop="exam"></ngx-datatable-column>
    <ngx-datatable-column name="Study Year" prop="studyYear"></ngx-datatable-column>
    <ngx-datatable-column>
      <ng-template let-row="row" ngx-datatable-cell-template>
        <a  [routerLink]="['/members/college-collections',row.className]"  mat-raised-button color="primary"> View</a>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
