<ni-breadcrumb [menu]="breadcrumb" [style]="'custom1'" class="mb-4"></ni-breadcrumb>

<a routerLink="/members/college-collections/new" md-raised-button color="accent">New Collection</a>
<div class="example-container mat-elevation-z8 top-buffer">
  <md-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container mdColumnDef="ticket">
      <md-header-cell *mdHeaderCellDef> No. </md-header-cell>
      <md-cell *mdCellDef="let student"> {{student.ticket}} </md-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container mdColumnDef="stdntname">
      <md-header-cell *mdHeaderCellDef> Name </md-header-cell>
      <md-cell *mdCellDef="let student"> {{student.stdntname}} </md-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container mdColumnDef="grandtotal">
      <md-header-cell *mdHeaderCellDef> Total </md-header-cell>
      <md-cell *mdCellDef="let student"> {{student.grandtotal}} </md-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container mdColumnDef="grandresult">
      <md-header-cell *mdHeaderCellDef> Result </md-header-cell>
      <md-cell *mdCellDef="let student"> {{student.grandresult}} </md-cell>
    </ng-container>

    <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>


</div>
