<ni-breadcrumb [menu]="breadcrumb" [style]="'custom1'" class="mb-4"></ni-breadcrumb>
  <ni-card>
    <div class="row" *ngIf= "collection$ | async; let collection1">
      <div class="col-md-4">
        <p> Class Name: {{collection1.className }}</p>
      </div>
      <div class="col-md-2" >
        <p> Year: {{collection1.year}}</p>
      </div>
      <div class="col-md-2">
        <p> Exam: {{collection1.exam}}</p>
      </div>
      <div class="col-md-2">
        <p> Study Year: {{collection1.studyYear }}</p>
      </div>
        <div class="col-md-2">
          <p> State: {{collection1.state }}</p>
        </div>
    </div>
      <div class="row">
        <div class="col-md-3">
          <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
            <mat-form-field>
              <input matInput placeholder="Hall Ticket Number"  maxlength="10" style="text-align: center" name="ticket" ngModel required #ticket="ngModel">
            </mat-form-field>
            <button mat-raised-button color="primary" >Search</button>
          </form>
        </div>
      </div>
  </ni-card>

    <div class="col-md-8 top-buffer">
      <mat-progress-bar *ngIf="resultLoading" mode="indeterminate"></mat-progress-bar>
      <div [ngSwitch]="message">
        <div *ngSwitchCase="'result'">
          <mat-card>
            <div class="row">
              <div class="col">
                <mat-card-header>
                  <mat-card-title> {{student.stdntname}} </mat-card-title>
                  <mat-card-subtitle>
                    <p>ID: {{student.ticket}} ,     Total: {{student.grandtotal}},    Grade: <span  [ngStyle]="{'color': getColor(student.grandresult)}"> {{student.grandresult}}</span></p>
                  </mat-card-subtitle>
                </mat-card-header>
              </div>
              <div class="col">
                <mat-card-actions class="button-list pull-right">
                  <button  ni-button (click)="openSmsDialogue()" afterIcon="sli-printer" type="success" outline="true"></button>
                  <button  ni-button beforeIcon="fa fa-plus" type="info" outline="true"></button>
                </mat-card-actions>
              </div>
            </div>

            <mat-card-content>
              <table class="table table-sm">
                <tbody>
                <tr *ngFor="let subject of student.subjects;">
                  <td style= "padding-left: 30px">{{subject.subjectName}}</td>
                  <td  class="text-right">
                    <ni-badge [color]="subject.outcome === 'F' ? 'danger' : 'success'"  [borderRadius]="false">{{subject.marksGained}}</ni-badge>
                  </td>
                </tr>
                </tbody>
              </table>
            </mat-card-content>



        </mat-card>
        </div>
        <div *ngSwitchCase="'notFound'"><ni-alert [color]="'warning'"><strong>Not Found!</strong>Result not found for the above hall ticket</ni-alert></div>
        <div *ngSwitchCase="'somethingWrong'"><ni-alert [color]="'danger'"><strong>Oh snap!</strong> Some thing went wrong please try after some time</ni-alert></div>
      </div>
    </div>





