<ni-breadcrumb [menu]="breadcrumb" [style]="'custom1'" class="mb-4"></ni-breadcrumb>
<a [routerLink]="['/members/college-collections/addStudent', collectionName]"  mat-raised-button color="accent">Add Students</a>
<div>
  <mat-form-field>
    <input matInput type='text' placeholder='Type to filter the Class Name' (keyup)='updateFilter($event)'>
  </mat-form-field>
<ngx-datatable
  #table
  class='material'
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  [limit]="10"
  [rows]='rows'>
  <ngx-datatable-column name="Hall Ticket" prop="ticket"></ngx-datatable-column>
  <ngx-datatable-column name="Name" prop="stdntname"></ngx-datatable-column>
  <ngx-datatable-column name="Total" prop="grandtotal"></ngx-datatable-column>
  <ngx-datatable-column name="Result" prop="grandresult"></ngx-datatable-column>
</ngx-datatable>
</div>
