<ni-breadcrumb [menu]="breadcrumb" [style]="'custom1'" class="mb-4"></ni-breadcrumb>
<div>
<div class="row">
  <div class="col-md-4">
    <mat-form-field>
      <input matInput type='text' placeholder='Type Student Name' (keyup)='updateFilter($event)'>
    </mat-form-field>
  </div>
  <div class="col">
    <a [routerLink]="['/members/college-collections/addStudent', collectionName]"  mat-raised-button color="accent">+ Add Students</a>
  </div>
</div>
  <mat-progress-bar *ngIf="studentsLoading" mode="indeterminate"></mat-progress-bar>
  <ngx-datatable
  #table
  class='material'
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  [limit]="10"
  [rows]='rows'>
  <ngx-datatable-column name="Hall Ticket" prop="ticket"></ngx-datatable-column>
  <ngx-datatable-column name="Name" prop="stdntname"></ngx-datatable-column>
  <ngx-datatable-column name="Total" prop="grandtotal"></ngx-datatable-column>
  <ngx-datatable-column name="Result" prop="grandresult"></ngx-datatable-column>
</ngx-datatable>
</div>
