<app-nav-bar></app-nav-bar><!-- /.navbar-->
<div class="container">
  <div class="starter-template">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <div id="selectBlock">
      <md-select placeholder="Year" style="padding-right: 30px"  name="year" ngModel required #year="ngModel">
        <md-option *ngFor="let year of years" [value]="year.value">
          {{ year.viewValue }}
        </md-option>
      </md-select>
      <md-select placeholder="State" style="padding-right: 30px" name="state" ngModel required #state="ngModel">
        <md-option *ngFor="let state of states" [value]="state.value">
          {{ state.viewValue }}
        </md-option>
      </md-select>
      <md-select placeholder="Category" style="padding-right: 30px" name="category" ngModel required #category="ngModel">
        <md-option *ngFor="let category of categories" [value]="category.value">
          {{ category.viewValue }}
        </md-option>
      </md-select>
      <md-select placeholder="Study Year" style="padding-right: 30px" name="studyYear" ngModel required #studyYear="ngModel">
        <md-option *ngFor="let studyYear of studyYears" [value]="studyYear.value">
          {{ studyYear.viewValue }}
        </md-option>
      </md-select>
      <md-select placeholder="Exam" style="padding-right: 30px" name="exam" ngModel required #exam="ngModel">
        <md-option *ngFor="let exam of exams" [value]="exam.value">
          {{ exam.viewValue }}
        </md-option>
      </md-select>
    </div>
    <div class="top-buffer">
      <button class="btn btn-primary">Search</button>
    </div>
    </form>

  </div>
</div>
