<app-nav-bar></app-nav-bar><!-- /.navbar-->
<div class="container">
  <div class="starter-template">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <div id="selectBlock">
      <md-select placeholder="Year" style="padding-right: 30px"  name="year" ngModel required #year="ngModel">
        <md-option *ngFor="let year of years" [value]="year.value">
          {{ year.viewValue }}
        </md-option>
      </md-select>
      <md-select placeholder="State" style="padding-right: 30px" name="state" ngModel required #state="ngModel">
        <md-option *ngFor="let state of states" [value]="state.value">
          {{ state.viewValue }}
        </md-option>
      </md-select>
      <md-select placeholder="Category" style="padding-right: 30px" name="category" ngModel required #category="ngModel">
        <md-option *ngFor="let category of categories" [value]="category.value">
          {{ category.viewValue }}
        </md-option>
      </md-select>
      <md-select placeholder="Study Year" style="padding-right: 30px" name="studyYear" ngModel required #studyYear="ngModel">
        <md-option *ngFor="let studyYear of studyYears" [value]="studyYear.value">
          {{ studyYear.viewValue }}
        </md-option>
      </md-select>
      <md-select placeholder="Exam" style="padding-right: 30px" name="exam" ngModel required #exam="ngModel">
        <md-option *ngFor="let exam of exams" [value]="exam.value">
          {{ exam.viewValue }}
        </md-option>
      </md-select>
    </div>
      <div class="row top-buffer">
        <div class="col offset-md-5 col-md-2 ">
          <md-input-container>
            <input mdInput placeholder="Hall Ticket Number" name="ticket" ngModel required #ticket="ngModel">
          </md-input-container>
          <button md-raised-button color="primary" [disabled]="!f.valid">Search</button>
        </div>
      </div>
    </form>
      <div class="col offset-md-2 col-md-8 top-buffer">
        <div [ngSwitch]="message">
          <div *ngSwitchCase="'result'"><ni-card [title]="'Result'" class="mb-0"></ni-card> </div>
          <div *ngSwitchCase="'notFound'"><ni-alert [color]="'danger'"><strong>Oh snap!</strong> Change a few things up <a href="#">and try submitting again</a></ni-alert></div>
         <div *ngSwitchDefault><ni-alert [color]="'warning'"><strong>Warning!</strong> Better check yourself, you're <a href="#">not looking too good</a></ni-alert></div>
        </div>
      </div>


  </div>
</div>
